**/Library/
**/Temp/
**/obj/

**/.vscode
**/.vs
**/.editorconfig

**/Assets/Plugins/*
**/Assets/Plugins.meta

*.idea
*.csproj
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*~
*.swp

.vs/
build/*
TwoStickShooter/Pure/Library/AnnotationManager
