* text=auto

*.compute text
*.cs diff=csharp text
*.mat text
*.md text
*.md5 text
*.meta text
*.prefab text
*.shader text
*.txt text

*/ProjectSettings/*.asset text

# the ms t4 processor requires crlf
*.tt eol=crlf text
